{% extends 'ninaApp/index.html' %} {% block titulo %}
<h1
  class="display-4 fw-bolder"
  style="
    font-family: 'Goudy Medieval', serif;
    color: #904000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 5rem;
    z-index: 2;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
  "
>
  Quienes somos
</h1>
{% endblock titulo %} {% block contenido %}

<hr class="my-5" />
<h2>
  Soy una emprendedora que pinta macetas por diversion y es apasionada por lo
  que hace. No dudes en seguirnos en nuestras redes sociales como "Las huellitas
  de nina"
</h2>
<hr class="my-5" />
{% endblock contenido %}
